/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#fff1eb, #ace0f9);
  font-family: 'Roboto';
  padding-top: 150px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.main-heading {
  font-family: 'Bree Serif';
  color: #1e293b;
  font-size: 40px;
  margin-bottom: 40px;
}
.search-br-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 1px solid #7b8794;
  border-radius: 5px;
  width: 250px;
}
.search-bar {
  background-color: transparent;
  padding: 10px;
  font-family: 'Roboto';
  color: #7b8794;
  border: none;
  outline: none;
}
.search-icon {
  cursor: pointer;
  outline: none;
  height: 25px;
}
.ul-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0%;
  width: 300px;
  margin-top: 30px;
}
.ul-apps {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-start: 0%;
  flex-wrap: wrap;
  width: 600px;
}
@media (max-width: 576px){
  .ul-tabs{
    width: 250px;
  }
  .search-br-cont{
    width: 220px;
  }
  .search-bar{
    width: 198px;
  }
}